/* FRÅGA JAKOB:
hur skala storleken, cssen säger att lådorna alltid är lika stora, men de blir mindre på skärmen vid smalare skärm 

är det ok i denna? 
.no-checkbox+label 

@media (max-width: 399px)
MÅSTE FINNAS ETT SNYGGARE SÄTT ATT STYRA NÄR HOPPET SKER? 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 7em;
    color: rgba(175, 47, 47, 0.15);
}

.content {
    max-width: 550px;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* comma separated gives an extra set of shadows: (value from original site) */
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%)
}

form {
    display: flex;
    align-content: center;
    /* Added by anna below: */
    height: 65.6px;
    background-color: white;
    /* INTE HELT RÄTT FÄRG */

}

/* Emoji not centered correctly? -- Anna fixed?*/
/* Form styles */

form #toggle-container {
    /* added */
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-checkbox+label {
    opacity: 50%;
    /* changed below */
    font-size: 17px;
    /* HÖR MED JAKOB OM NEDAN RAD ÄR OKEJ */
    padding: 15px;
}

#input-field {
    flex: 1;
    /* Added below: */
    margin-left: 10px;
    font-size: 24px;
    border-style: none;
}

#input-field::placeholder {
    /* Added: */
    flex: 1;
    margin-left: 10px;
    font-size: 24px;
    font-style: italic;
    color: #e6e6e6;
}

.no-checkbox:checked+label {
    opacity: 100%;
}

/* Form styles end */

/* List item styles */
input.checkbox {
    /* Added */
    width: 30px;
    height: 20px;
    margin: auto 0 auto 0;
}

.todos {
    list-style-type: none;
    display: flex;
    /* Added below: */
    flex-direction: column;
}

li.todo {
    display: flex;
    flex: 1;
    background-color: white;
    /* INTE HELT RÄTT FÄRG */
}

li .todo-label {
    display: flex;
    flex: 1;
    /* Added below: */
    align-items: center;
    margin-left: 10px;
    height: 58.8px;
    font-size: 24px;
}

button {
    /* Added */
    border: none;
    background-color: transparent;
}

/* List item styles end*/

/* Feature bar styles. ADDED */
.feature-bar {
    display: flex;
    /* INTE HELT RÄTT FÄRG: */
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 41px;
    padding: 10px 15px;
}

.feature-bar .item-counter {
    /* display: flex; */
    width: 102px;
}

.feature-bar .filters {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

}

.feature-bar .filters label {
    padding: 3px 7px;
}

.feature-bar button {
    /* display: flex; */
    width: 102px;
}

.feature-bar button:hover {
    text-decoration: underline;
}

@media (max-width: 399px) {

    /* MÅSTE FINNAS ETT SNYGGARE SÄTT ATT STYRA NÄR HOPPET SKER? */
    .feature-bar .filters {
        order: 1;
        /* margin-left: auto;
        margin-right: auto; */
        margin-top: 10px;
    }
}

/* Feature bar styles end*/

/* Misc styles */
label {
    user-select: none;
}

.no-radio,
.no-checkbox {
    appearance: none;
}

.no-radio:checked+label {
    border: 1px solid;
    border-color: rgba(175, 47, 47, 0.2);
    border-radius: 2px;
}

.no-radio:hover+label {
    border: 1px solid;
    /* added */
    border-color: rgba(175, 47, 47, 0.1);
    border-radius: 2px;
}




footer {
    text-align: center;
}